server:
  port: 8080

spring:
  application:
    name: dice-server
  jackson:
    serialization:
      write_dates_as_timestamps: false

logging:
  level:
    com.embabel.dice: DEBUG
    org.springframework.web: INFO
